
{% extends "movie.html" %}
{% block hollywood %}


<div class="bollywood pt-2 pb-3" style="background-color: #581845;">
                                   
    <h4>Latest  Hollywood Movies Dual Audio </h4> 
            </div>
    
    
    
            
            <nav class="nav">
                                       
                <div class="card ml-3 mt-2" style="width: 10rem;">
                    
    
    
               <a href="">    <img src="/static/Hollywood Movie banner/21-pirates.jpg" alt="" class="card-img-top"> </a> 
                    <div class="card-body pb-0">
                        <a href="" id="download" class="btn btn-dark mb-2 ml-2">Download</a>
                        <a href="" id="watch" class="btn watch btn-dark">Watch Trailer</a> <hr>
                    </div>
                </div>
    
                <div class="card ml-3 mt-2" style="width: 10rem;">
    
                   <a href=""><img src="/static/Hollywood Movie banner/22-bla.jpg" alt="" class="card-img-top"></a> 
                   
                    <div class="card-body">
                        <a href="" id="download" class="btn mb-2 btn-dark ml-2">Download</a>
                        <a href="" id="watch" class="btn watch btn-dark">Watch trailer</a> <hr>
                    </div>
                </div>
                <div class="card ml-3 mt-2" style="width: 10rem;">
    
                   <a href=""> <img src="/static/Hollywood Movie banner/23-star.jpg" alt="" class="card-img-top"> </a>
                    <div class="card-body">
                        <a href="" id="download" class="btn mb-2 btn-dark ml-2">Download</a>
                        <a href="" id="watch" class="btn watch btn-dark">Watch trailer</a> <hr>
                    </div>
                </div>
                <div class="card ml-3 mt-2 " style="width: 10rem;">
    
                  <a href="">  <img src="/static/Hollywood Movie banner/24-the-shaw.jpg" alt="" class="card-img-top"></a>
                    <div class="card-body">
                        <a href="" id="download" class="btn mb-2 btn-dark ml-2">Download</a>
                        <a href="" id="watch" class="btn watch btn-dark">Watch trailer</a> <hr>
                    </div>
                </div>
                <div class="card mt-2 ml-3 " style="width: 10rem;">
    
                   <a href=""> <img src="/static/Hollywood Movie banner/25-it.jpg" alt="" class="card-img-top"></a>
                    <div class="card-body">
                        <a href="" id="download" class="btn mb-2 btn-dark ml-2">Download</a>
                        <a href="" id="watch" class="btn watch btn-dark">Watch trailer</a> <hr>
                    </div>
                </div>
                <div class="card mt-2 ml-3 " style="width: 10rem;">
                   <a href=""> <img src="/static/Hollywood Movie banner/26-villain'.jpg" alt="" class="card-img-top"></a>
                    <div class="card-body">
                        <a href="" id="download" class="btn mb-2 btn-dark ml-2">Download</a>
                        <a href="" id="watch" class="btn watch btn-dark">Watch trailer</a> <hr>
                    </div>
                </div>
                <div class="card mt-2 ml-3 " style="width: 10rem;">
    
                    <a href=""><img src="/static/Hollywood Movie banner/27-incon.jpg" alt="" class="card-img-top"></a>
                    <div class="card-body">
                        <a href="" id="download" class="btn mb-2 btn-dark ml-2">Download</a>
                        <a href="" id="watch" class="watch btn btn-dark">Watch trailer</a> <hr>
                    </div>
                </div>
                <div class="card mt-2 ml-3 " style="width: 10rem;">
    
                  <a href="">  <img src="/static/Hollywood Movie banner/28-dwan.jpg" alt="" class="card-img-top"></a>
                    <div class="card-body">
                        <a href="" id="download" class="btn mb-2 btn-dark ml-2">Download</a>
                        <a href="" id="watch" class=" watch btn btn-dark">Watch trailer</a> <hr>
                    </div>
                </div>
                <div class="card mt-2 ml-3 " style="width: 10rem;">
    
                   <a href=""> <img src="/static/Hollywood Movie banner/29-star-war.jpg" alt="" class="card-img-top"></a>
                    <div class="card-body">
                        <a href="" id="download" class="btn mb-2 btn-dark ml-2">Download</a>
                        <a href="" id="watch" class=" watch btn btn-dark">Watch trailer</a> <hr>
                    </div>
                </div>
                <div class="card mt-2 ml-3 " style="width: 10rem;">
    
                   <a href=""> <img src="/static/Hollywood Movie banner/30-hostiles.jpg" alt="" class="card-img-top"></a>
                    <div class="card-body">
                        <a href="" id="download" class="btn mb-2 btn-dark ml-2">Download</a>
                        <a href="" id="watch" class=" watch btn btn-dark">Watch trailer</a> <hr>
                    </div>
                </div>
                <div class="card mt-2 ml-3 " style="width: 10rem;">
    
                   <a href=""> <img src="/static/Hollywood Movie banner/31-home-gain.jpg" alt="" class="card-img-top"></a>
                    <div class="card-body">
                        <a href="" id="download" class="btn mb-2 btn-dark ml-2">Download</a>
                        <a href="" id="watch" class=" watch btn btn-dark">Watch trailer</a> <hr>
                    </div>
                </div>
                <div class="card mt-2 ml-3 " style="width: 10rem;">
    
                   <a href=""> <img src="/static/Hollywood Movie banner/32-john-wick.jpg" alt="" class="card-img-top"></a>
                    <div class="card-body">
                        <a href="" id="download" class="btn mb-2 btn-dark ml-2">Download</a>
                        <a href="" id="watch" class=" watch btn btn-dark">Watch trailer</a> <hr>
                    </div>
                </div>
                <div class="card mt-2 ml-3 " style="width: 10rem;">
    
                   <a href=""> <img src="/static/Hollywood Movie banner/33-power-ranger.jpg" alt="" class="card-img-top"></a>
                    <div class="card-body">
                        <a href="" id="download" class="btn mb-2 btn-dark ml-2">Download</a>
                        <a href="" id="watch" class=" watch btn btn-dark">Watch trailer</a> <hr>
                    </div>
                </div>
                <div class="card mt-2 ml-3 " style="width: 10rem;">
    
                   <a href=""><img src="/static/Hollywood Movie banner/34-professor.jpg" alt="" class="card-img-top"></a> 
                    <div class="card-body">
                        <a href="" id="download" class="btn mb-2 btn-dark ml-2">Download</a>
                        <a href="" id="watch" class=" watch btn btn-dark">Watch trailer</a> <hr>
                    </div>
                </div>
                <div class="card mt-2 ml-3 " style="width: 10rem;">
    
                 <a href="">  <img src="/static/Hollywood Movie banner/35-pri.jpg" alt="" class="card-img-top"></a> 
                    <div class="card-body">
                        <a href="" id="download" class="btn mb-2 btn-dark ml-2">Download</a>
                        <a href="" id="watch" class=" watch btn btn-dark">Watch trailer</a> <hr>
                    </div>
                </div>
                <div class="card mt-2 ml-3 " style="width: 10rem;">
    
                   <a href=""><img src="/static/Hollywood Movie banner/36-mummy.jpg" alt="" class="card-img-top"></a> 
                    <div class="card-body">
                        <a href="" id="download" class="btn mb-2 btn-dark ml-2">Download</a>
                        <a href="" id="watch" class=" watch btn btn-dark">Watch trailer</a> <hr>
                    </div>
                </div>
                <div class="card mt-2 ml-3 " style="width: 10rem;">
    
                   <a href=""> <img src="/static/Hollywood Movie banner/37-annabelea.jpg" alt="" class="card-img-top"></a>
                    <div class="card-body">
                        <a href="" id="download" class="btn mb-2 btn-dark ml-2">Download</a>
                        <a href="" id="watch" class=" watch btn btn-dark">Watch trailer</a> <hr>
                    </div>
                </div>
                <div class="card mt-2 ml-3 " style="width: 10rem;">
    
                   <a href=""><img src="/static/Hollywood Movie banner/38-privates.jpg" alt="" class="card-img-top"></a> 
                    <div class="card-body">
                        <a href="" id="download" class="btn mb-2 btn-dark ml-2">Download</a>
                        <a href="" id="watch" class=" watch btn btn-dark">Watch trailer</a> <hr>
                    </div>
                </div>
                <div class="card mt-2 ml-3 " style="width: 10rem;">
    
                   <a href=""> <img src="/static/Hollywood Movie banner/39-geostrom.jpg" alt="" class="card-img-top"></a>
                    <div class="card-body">
                        <a href="" id="download" class="btn mb-2 btn-dark ml-2">Download</a>
                        <a href="" id="watch" class=" watch btn btn-dark">Watch trailer</a> <hr>
                    </div>
                </div>
                <div class="card mt-2 ml-3 " style="width: 10rem;">
    
                   <a href=""> <img src="/static/Hollywood Movie banner/40-spiderman.jpg" alt="" class="card-img-top"></a>
                    <div class="card-body">
                        <a href="" id="download" class="btn mb-2 btn-dark ml-2">Download</a>
                        <a href="" id="watch" class=" watch btn btn-dark">Watch trailer</a> <hr>
                    </div>
                </div>
                <div class="card mt-2 ml-3 " style="width: 10rem;">
    
                    <a href=""> <img src="/static/Hollywood Movie banner/41-thor.jpg" alt="" class="card-img-top"></a>
                     <div class="card-body">
                         <a href="" id="download" class="btn mb-2 btn-dark ml-2">Download</a>
                         <a href="" id="watch" class=" watch btn btn-dark">Watch trailer</a> <hr>
                     </div>
                 </div>
                 <div class="card mt-2 ml-3 " style="width: 10rem;">
    
                    <a href=""> <img src="/static/Hollywood Movie banner/42-beauty.jpg" alt="" class="card-img-top"></a>
                     <div class="card-body">
                         <a href="" id="download" class="btn mb-2 btn-dark ml-2">Download</a>
                         <a href="" id="watch" class=" watch btn btn-dark">Watch trailer</a> <hr>
                     </div>
                 </div>
                 <div class="card mt-2 ml-3 " style="width: 10rem;">
    
                    <a href=""> <img src="/static/Hollywood Movie banner/43-justice-leaguge.jpg" alt="" class="card-img-top"></a>
                     <div class="card-body">
                         <a href="" id="download" class="btn mb-2 btn-dark ml-2">Download</a>
                         <a href="" id="watch" class=" watch btn btn-dark">Watch trailer</a> <hr>
                     </div>
                 </div>
                 <div class="card mt-2 ml-3 " style="width: 10rem;">
    
                    <a href=""> <img src="/static/Hollywood Movie banner/44-jeeper-creeeper.jpg" alt="" class="card-img-top"></a>
                     <div class="card-body">
                         <a href="" id="download" class="btn mb-2 btn-dark ml-2">Download</a>
                         <a href="" id="watch" class=" watch btn btn-dark">Watch trailer</a> <hr>
                     </div>
                 </div>
                 <div class="card mt-2 ml-3 " style="width: 10rem;">
    
                    <a href=""> <img src="/static/Hollywood Movie banner/45-rough-night.jpg" alt="" class="card-img-top"></a>
                     <div class="card-body">
                         <a href="" id="download" class="btn mb-2 btn-dark ml-2">Download</a>
                         <a href="" id="watch" class=" watch btn btn-dark">Watch trailer</a> <hr>
                     </div>
                 </div>
                 <div class="card mt-2 ml-3 " style="width: 10rem;">
    
                    <a href=""> <img src="/static/Hollywood Movie banner/46-november.jpg" alt="" class="card-img-top"></a>
                     <div class="card-body">
                         <a href="" id="download" class="btn mb-2 btn-dark ml-2">Download</a>
                         <a href="" id="watch" class=" watch btn btn-dark">Watch trailer</a> <hr>
                     </div>
                 </div>
                 <div class="card mt-2 ml-3 " style="width: 10rem;">
    
                    <a href=""> <img src="/static/Hollywood Movie banner/47-roman-j-isreal.jpg" alt="" class="card-img-top"></a>
                     <div class="card-body">
                         <a href="" id="download" class="btn mb-2 btn-dark ml-2">Download</a>
                         <a href="" id="watch" class=" watch btn btn-dark">Watch trailer</a> <hr>
                     </div>
                 </div>
                 <div class="card mt-2 ml-3 " style="width: 10rem;">
    
                    <a href=""> <img src="/static/Hollywood Movie banner/48-kong.jpg" alt="" class="card-img-top"></a>
                     <div class="card-body">
                         <a href="" id="download" class="btn mb-2 btn-dark ml-2">Download</a>
                         <a href="" id="watch" class=" watch btn btn-dark">Watch trailer</a> <hr>
                     </div>
                 </div>
                 <div class="card mt-2 ml-3 " style="width: 10rem;">
    
                    <a href=""> <img src="/static/Hollywood Movie banner/49-arrival.jpg" alt="" class="card-img-top"></a>
                     <div class="card-body">
                         <a href="" id="download" class="btn mb-2 btn-dark ml-2">Download</a>
                         <a href="" id="watch" class=" watch btn btn-dark">Watch trailer</a> <hr>
                     </div>
                 </div>
                 <div class="card mt-2 ml-3 " style="width: 10rem;">
    
                    <a href=""> <img src="/static/Hollywood Movie banner/50-the-boy.jpg" alt="" class="card-img-top"></a>
                     <div class="card-body">
                         <a href="" id="download" class="btn mb-2 btn-dark ml-2">Download</a>
                         <a href="" id="watch" class=" watch btn btn-dark">Watch trailer</a> <hr>
                     </div>
                 </div>
                          
                
    
    
             </nav>
    




{% endblock %}

{% block contain %}
<nav class="nav justify-content-center mt-5 bg-danger ">
    <ul class="nav p-3">
        <li class="nav-item">
            <a href="http://127.0.0.1:5000/hollywood4" style="color: whitesmoke;" class="nav-link btn btn-outline-warning  mr-5 "> &laquo; Previous</a>
        </li>
        <b style="font-size: 25px; color: whitesmoke;" class="mt-3"><a href="" style="text-decoration: none; color: whitesmoke;">Page 5 of 200</a></b>
        <li class="nav-item">
            <a href="http://127.0.0.1:5000/hollywood6" class="nav-link  btn btn-outline-warning ml-5 ">Next &raquo; </a>
        </li>
    </ul>
    <ul class="nav mt-4 mb-3">
        <li class="nav-item  ">
            <b style="color: whitesmoke;font-size: 25px;">Jump to page</b>
        </li>
        <li class="nav-item ml-2 pt-1">
            <input type="search" name="" id="" placeholder="Enter page number" min="1" minlength="1" class="form-control">       
         </li>
         <li class="nav-link ml-1 pt-1">
             <a href="" class="btn btn-outline-success" style="color: whitesmoke;font-size: 25px;">Jump
             </a>
         </li>
    </ul>
</nav>



{% endblock %}
{% block contain1 %}



{% endblock %}
