
{% extends "movie.html" %}
{% block contain %}
<nav class="nav justify-content-center mt-5 bg-danger ">
    <ul class="nav p-3">
        <li class="nav-item">
            <a href="" disabled style="color: whitesmoke;" class="nav-link btn btn-outline-warning disabled  mr-5 "> &laquo; Previous</a>
        </li>
        <b style="font-size: 25px; color: whitesmoke;" class="mt-3"><a href="" style="text-decoration: none; color: whitesmoke;">Page 1 of 200</a></b>
        <li class="nav-item">
            <a href="http://127.0.0.1:5000/hollywood2" class="nav-link  btn btn-outline-warning ml-5 ">Next &raquo; </a>
        </li>
    </ul>
    <ul class="nav mt-4 mb-3">
        <li class="nav-item  ">
            <b style="color: whitesmoke;font-size: 25px;">Jump to page</b>
        </li>
        <li class="nav-item ml-2 pt-1">
            <input type="search" name="" id="" placeholder="Enter page number" min="1" minlength="1" class="form-control">       
         </li>
         <li class="nav-link ml-1 pt-1">
             <a href="" class="btn btn-outline-success" style="color: whitesmoke;font-size: 25px;">Jump
             </a>
         </li>
    </ul>
</nav>

{% endblock%}


{% block contain1 %}




{% endblock%}



