
{% extends "movie.html" %}
{% block hollywood %}


<div class="bollywood pt-2 pb-3" style="background-color: #581845;">
                                   
    <h4>Latest  Hollywood Movies Dual Audio </h4> 
            </div>
    
    
    
            
            <nav class="nav">
                                       
                <div class="card ml-3 mt-2" style="width: 10rem;background-color: maroon;">
                    
    
    
               <a href="">    <img src="/static/Hollywood Movie banner/dark-web-2018-1.jpg" alt="" class="card-img-top"> </a> 
                    <div class="card-body pb-0">
                        <a href="" id="download" class="btn btn-dark mb-2 ml-2">Download</a>
                        <a href="" id="watch" class="btn watch btn-dark">Watch Trailer</a> <hr>
                    </div>
                </div>
    
                <div class="card ml-3 mt-2" style="width: 10rem;">
    
                   <a href=""><img src="/static/Hollywood Movie banner/annihilation-2018-2.jpg" alt="" class="card-img-top"></a> 
                   
                    <div class="card-body">
                        <a href="" id="download" class="btn mb-2 btn-dark ml-2">Download</a>
                        <a href="" id="watch" class="btn watch btn-dark">Watch trailer</a> <hr>
                    </div>
                </div>
                <div class="card ml-3 mt-2" style="width: 10rem;">
    
                   <a href=""> <img src="/static/Hollywood Movie banner/tom-rider-2018-3.jpg" alt="" class="card-img-top"> </a>
                    <div class="card-body">
                        <a href="" id="download" class="btn mb-2 btn-dark ml-2">Download</a>
                        <a href="" id="watch" class="btn watch btn-dark">Watch trailer</a> <hr>
                    </div>
                </div>
                <div class="card ml-3 mt-2 " style="width: 10rem;">
    
                  <a href="">  <img src="/static/Hollywood Movie banner/holloween-2018-4.jpg" alt="" class="card-img-top"></a>
                    <div class="card-body">
                        <a href="" id="download" class="btn mb-2 btn-dark ml-2">Download</a>
                        <a href="" id="watch" class="btn watch btn-dark">Watch trailer</a> <hr>
                    </div>
                </div>
                <div class="card mt-2 ml-3 " style="width: 10rem;">
    
                   <a href=""> <img src="/static/Hollywood Movie banner/ready-player-2018-5.jpg" alt="" class="card-img-top"></a>
                    <div class="card-body">
                        <a href="" id="download" class="btn mb-2 btn-dark ml-2">Download</a>
                        <a href="" id="watch" class="btn watch btn-dark">Watch trailer</a> <hr>
                    </div>
                </div>
                <div class="card mt-2 ml-3 " style="width: 10rem;">
                   <a href=""> <img src="/static/Hollywood Movie banner/a-quite-place-2018-6.jpg" alt="" class="card-img-top"></a>
                    <div class="card-body">
                        <a href="" id="download" class="btn mb-2 btn-dark ml-2">Download</a>
                        <a href="" id="watch" class="btn watch btn-dark">Watch trailer</a> <hr>
                    </div>
                </div>
                <div class="card mt-2 ml-3 " style="width: 10rem;">
    
                    <a href=""><img src="/static/Hollywood Movie banner/mission-impossible-2018-7.jpg" alt="" class="card-img-top"></a>
                    <div class="card-body">
                        <a href="" id="download" class="btn mb-2 btn-dark ml-2">Download</a>
                        <a href="" id="watch" class="watch btn btn-dark">Watch trailer</a> <hr>
                    </div>
                </div>
                <div class="card mt-2 ml-3 " style="width: 10rem;">
    
                  <a href="">  <img src="/static/Hollywood Movie banner/searching-2018-8.png" alt="" class="card-img-top"></a>
                    <div class="card-body">
                        <a href="" id="download" class="btn mb-2 btn-dark ml-2">Download</a>
                        <a href="" id="watch" class=" watch btn btn-dark">Watch trailer</a> <hr>
                    </div>
                </div>
                <div class="card mt-2 ml-3 " style="width: 10rem;">
    
                   <a href=""> <img src="/static/Hollywood Movie banner/a-star-is-born-2018-9.jpg" alt="" class="card-img-top"></a>
                    <div class="card-body">
                        <a href="" id="download" class="btn mb-2 btn-dark ml-2">Download</a>
                        <a href="" id="watch" class=" watch btn btn-dark">Watch trailer</a> <hr>
                    </div>
                </div>
                <div class="card mt-2 ml-3 " style="width: 10rem;">
    
                   <a href=""> <img src="/static/Hollywood Movie banner/stranger-2018-10.jpg" alt="" class="card-img-top"></a>
                    <div class="card-body">
                        <a href="" id="download" class="btn mb-2 btn-dark ml-2">Download</a>
                        <a href="" id="watch" class=" watch btn btn-dark">Watch trailer</a> <hr>
                    </div>
                </div>
                <div class="card mt-2 ml-3 " style="width: 10rem;">
    
                   <a href=""> <img src="/static/Hollywood Movie banner/winchester-2018-11.jpg" alt="" class="card-img-top"></a>
                    <div class="card-body">
                        <a href="" id="download" class="btn mb-2 btn-dark ml-2">Download</a>
                        <a href="" id="watch" class=" watch btn btn-dark">Watch trailer</a> <hr>
                    </div>
                </div>
                <div class="card mt-2 ml-3 " style="width: 10rem;">
    
                   <a href=""> <img src="/static/Hollywood Movie banner/insidius-last-key-2018-12.jpg" alt="" class="card-img-top"></a>
                    <div class="card-body">
                        <a href="" id="download" class="btn mb-2 btn-dark ml-2">Download</a>
                        <a href="" id="watch" class=" watch btn btn-dark">Watch trailer</a> <hr>
                    </div>
                </div>
                <div class="card mt-2 ml-3 " style="width: 10rem;">
    
                   <a href=""> <img src="/static/Hollywood Movie banner/ommuter-2018-13.jpg" alt="" class="card-img-top"></a>
                    <div class="card-body">
                        <a href="" id="download" class="btn mb-2 btn-dark ml-2">Download</a>
                        <a href="" id="watch" class=" watch btn btn-dark">Watch trailer</a> <hr>
                    </div>
                </div>
                <div class="card mt-2 ml-3 " style="width: 10rem;">
    
                   <a href=""><img src="/static/Hollywood Movie banner/mandy-2018-14.jpg" alt="" class="card-img-top"></a> 
                    <div class="card-body">
                        <a href="" id="download" class="btn mb-2 btn-dark ml-2">Download</a>
                        <a href="" id="watch" class=" watch btn btn-dark">Watch trailer</a> <hr>
                    </div>
                </div>
                <div class="card mt-2 ml-3 " style="width: 10rem;">
    
                 <a href="">  <img src="/static/Hollywood Movie banner/game-night-2018-15.jpg" alt="" class="card-img-top"></a> 
                    <div class="card-body">
                        <a href="" id="download" class="btn mb-2 btn-dark ml-2">Download</a>
                        <a href="" id="watch" class=" watch btn btn-dark">Watch trailer</a> <hr>
                    </div>
                </div>
                <div class="card mt-2 ml-3 " style="width: 10rem;">
    
                   <a href=""><img src="/static/Hollywood Movie banner/red-sparrow-2018-17.jpg" alt="" class="card-img-top"></a> 
                    <div class="card-body">
                        <a href="" id="download" class="btn mb-2 btn-dark ml-2">Download</a>
                        <a href="" id="watch" class=" watch btn btn-dark">Watch trailer</a> <hr>
                    </div>
                </div>
                <div class="card mt-2 ml-3 " style="width: 10rem;">
    
                   <a href=""> <img src="/static/Hollywood Movie banner/aquaman-2018-18.jpg" alt="" class="card-img-top"></a>
                    <div class="card-body">
                        <a href="" id="download" class="btn mb-2 btn-dark ml-2">Download</a>
                        <a href="" id="watch" class=" watch btn btn-dark">Watch trailer</a> <hr>
                    </div>
                </div>
                <div class="card mt-2 ml-3 " style="width: 10rem;">
    
                   <a href=""><img src="/static/Hollywood Movie banner/juliat-naked-2018-19.jpg" alt="" class="card-img-top"></a> 
                    <div class="card-body">
                        <a href="" id="download" class="btn mb-2 btn-dark ml-2">Download</a>
                        <a href="" id="watch" class=" watch btn btn-dark">Watch trailer</a> <hr>
                    </div>
                </div>
                <div class="card mt-2 ml-3 " style="width: 10rem;">
    
                   <a href=""> <img src="/static/Hollywood Movie banner/roma-2018-21.jpg" alt="" class="card-img-top"></a>
                    <div class="card-body">
                        <a href="" id="download" class="btn mb-2 btn-dark ml-2">Download</a>
                        <a href="" id="watch" class=" watch btn btn-dark">Watch trailer</a> <hr>
                    </div>
                </div>
                <div class="card mt-2 ml-3 " style="width: 10rem;">
    
                   <a href=""> <img src="/static/Hollywood Movie banner/eight-grade-2018-22.jpg" alt="" class="card-img-top"></a>
                    <div class="card-body">
                        <a href="" id="download" class="btn mb-2 btn-dark ml-2">Download</a>
                        <a href="" id="watch" class=" watch btn btn-dark">Watch trailer</a> <hr>
                    </div>
                </div>
                <div class="card mt-2 ml-3 " style="width: 10rem;">
    
                    <a href=""> <img src="/static/Hollywood Movie banner/11-american.jpg" alt="" class="card-img-top"></a>
                     <div class="card-body">
                         <a href="" id="download" class="btn mb-2 btn-dark ml-2">Download</a>
                         <a href="" id="watch" class=" watch btn btn-dark">Watch trailer</a> <hr>
                     </div>
                 </div>
                 <div class="card mt-2 ml-3 " style="width: 10rem;">
    
                    <a href=""> <img src="/static/Hollywood Movie banner/12-breath.jpg" alt="" class="card-img-top"></a>
                     <div class="card-body">
                         <a href="" id="download" class="btn mb-2 btn-dark ml-2">Download</a>
                         <a href="" id="watch" class=" watch btn btn-dark">Watch trailer</a> <hr>
                     </div>
                 </div>
                 <div class="card mt-2 ml-3 " style="width: 10rem;">
    
                    <a href=""> <img src="/static/Hollywood Movie banner/13-bright.jpg" alt="" class="card-img-top"></a>
                     <div class="card-body">
                         <a href="" id="download" class="btn mb-2 btn-dark ml-2">Download</a>
                         <a href="" id="watch" class=" watch btn btn-dark">Watch trailer</a> <hr>
                     </div>
                 </div>
                 <div class="card mt-2 ml-3 " style="width: 10rem;">
    
                    <a href=""> <img src="/static/Hollywood Movie banner/14-br.jpg" alt="" class="card-img-top"></a>
                     <div class="card-body">
                         <a href="" id="download" class="btn mb-2 btn-dark ml-2">Download</a>
                         <a href="" id="watch" class=" watch btn btn-dark">Watch trailer</a> <hr>
                     </div>
                 </div>
                 <div class="card mt-2 ml-3 " style="width: 10rem;">
    
                    <a href=""> <img src="/static/Hollywood Movie banner/15-murder.jpg" alt="" class="card-img-top"></a>
                     <div class="card-body">
                         <a href="" id="download" class="btn mb-2 btn-dark ml-2">Download</a>
                         <a href="" id="watch" class=" watch btn btn-dark">Watch trailer</a> <hr>
                     </div>
                 </div>
                 <div class="card mt-2 ml-3 " style="width: 10rem;">
    
                    <a href=""> <img src="/static/Hollywood Movie banner/16-mountain.jpg" alt="" class="card-img-top"></a>
                     <div class="card-body">
                         <a href="" id="download" class="btn mb-2 btn-dark ml-2">Download</a>
                         <a href="" id="watch" class=" watch btn btn-dark">Watch trailer</a> <hr>
                     </div>
                 </div>
                 <div class="card mt-2 ml-3 " style="width: 10rem;">
    
                    <a href=""> <img src="/static/Hollywood Movie banner/17-seaborn.jpg" alt="" class="card-img-top"></a>
                     <div class="card-body">
                         <a href="" id="download" class="btn mb-2 btn-dark ml-2">Download</a>
                         <a href="" id="watch" class=" watch btn btn-dark">Watch trailer</a> <hr>
                     </div>
                 </div>
                 <div class="card mt-2 ml-3 " style="width: 10rem;">
    
                    <a href=""> <img src="/static/Hollywood Movie banner/18-war-of-app.jpg" alt="" class="card-img-top"></a>
                     <div class="card-body">
                         <a href="" id="download" class="btn mb-2 btn-dark ml-2">Download</a>
                         <a href="" id="watch" class=" watch btn btn-dark">Watch trailer</a> <hr>
                     </div>
                 </div>
                 <div class="card mt-2 ml-3 " style="width: 10rem;">
    
                    <a href=""> <img src="/static/Hollywood Movie banner/19-only-alive.jpg" alt="" class="card-img-top"></a>
                     <div class="card-body">
                         <a href="" id="download" class="btn mb-2 btn-dark ml-2">Download</a>
                         <a href="" id="watch" class=" watch btn btn-dark">Watch trailer</a> <hr>
                     </div>
                 </div>
                 <div class="card mt-2 ml-3 " style="width: 10rem;">
    
                    <a href=""> <img src="/static/Hollywood Movie banner/20-greatest-shawman.jpg" alt="" class="card-img-top"></a>
                     <div class="card-body">
                         <a href="" id="download" class="btn mb-2 btn-dark ml-2">Download</a>
                         <a href="" id="watch" class=" watch btn btn-dark">Watch trailer</a> <hr>
                     </div>
                 </div>
                
    
    
             </nav>
    




{% endblock %}

{% block contain %}
<nav class="nav justify-content-center mt-5 bg-danger ">
    <ul class="nav p-3">
        <li class="nav-item">
            <a href="http://127.0.0.1:5000/hollywood2" style="color: whitesmoke;" class="nav-link btn btn-outline-warning  mr-5 "> &laquo; Previous</a>
        </li>
        <b style="font-size: 25px; color: whitesmoke;" class="mt-3"><a href="" style="text-decoration: none; color: whitesmoke;">Page 3 of 200</a></b>
        <li class="nav-item">
            <a href="http://127.0.0.1:5000/hollywood4" class="nav-link  btn btn-outline-warning ml-5 ">Next &raquo; </a>
        </li>
    </ul>
    <ul class="nav mt-4 mb-3">
        <li class="nav-item  ">
            <b style="color: whitesmoke;font-size: 25px;">Jump to page</b>
        </li>
        <li class="nav-item ml-2 pt-1">
            <input type="search" name="" id="" placeholder="Enter page number" min="1" minlength="1" class="form-control">       
         </li>
         <li class="nav-link ml-1 pt-1">
             <a href="" class="btn btn-outline-success" style="color: whitesmoke;font-size: 25px;">Jump
             </a>
         </li>
    </ul>
</nav>



{% endblock %}
{% block contain1 %}



{% endblock %}
